{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}

<script>
    function redirectList() {
        window.location.href = '/employee_api'; 
    }
    function updateEmployee(id) {
        window.location.href = '/employee_api/'+id; 
    }
    function deleteCourse(id) {

        console.log(id,'iddddd');
        $('#modaldemo5').data('course-id', id);
        $('#modaldemo5').modal('show');

    }

    function deleteCourseFromModal(button) {

        console.log('cccc',$('#modaldemo5').data('course-id'));
        const deleteData = {
            id: $('#modaldemo5').data('course-id')
        };
        fetch('short_course/'+$('#modaldemo5').data('course-id'), {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': document.cookie.split('=',2)[1]  // Use a function to retrieve the CSRF token
            },
            body: JSON.stringify(deleteData)
        }).then(response => {
            if (response.ok) {
                window.location.href = '';
            } else {
                console.error('Failed to fetch employee data');
            }
        })
        .catch(error => {
            console.error('An error occurred:', error);
        });

    }
    function coursedescription(description) {

        console.log(description);

        $('#description-text').text(JSON.stringify(description));
        $('#description').modal('show');

    }
    function courseAddInfo(info, amt) {
        $('#detail-info').text(JSON.stringify(info));
        $('#detail-amt').text(JSON.stringify(amt));
        $('#crsdetail').modal('show');
    }
    $(document).ready(function() { 
        $("table") 
        .tablesorter({widthFixed: true, widgets: ['zebra']}) 
        .tablesorterPager({container: $("#pager")}); 
    }); 

</script>
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Short Term Course View</h1>
                <a href="/add_short_course" class="btn btn-danger btn-pill">Add <i class="fa fa-plus"></i></a>

            </div>
            <!-- PAGE-HEADER END -->


            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Short Term Course Table</h3>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table border text-nowrap text-md-nowrap table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Image</th>
                                                <th>Title</th>
                                                <th>Subtitle</th>
                                                <th>Description</th>
                                                <th>Details</th>



                                                <th>Satus</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- TABLE DETAILS -->
                                            {% for course in courses %}
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <img class="d-block img-fluid br-5 img-td"
                                                        src="media/{{course.image}}" alt="">
                                                </td>
                                                <td>{{course.title}}</td>
                                                <td>{{course.subtitle}}</td>

                                                <td><a class="btn btn-primary" onclick="coursedescription('{{ course.description|escapejs }}')">
                                                        <i class="side-menu__icon fe fe-eye text-white"></i>
                                                    </a>
                                                </td>
                                                <td><a class="btn btn-dark" onclick="courseAddInfo('{{ course.additional_information|escapejs }}','{{ course.amount }}')">
                                                        <i class="side-menu__icon fe fe-list text-white"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    {% if course.status == 'Active' %}
                                                    <a href=""><span class="btn btn-success">{{course.status}}</span></a>
                                                    {% else %}
                                                    <a href=""> <span class="btn btn-danger">{{course.status}}</span></a>
                                                    {% endif %}
                                                    
                                                </td>
                                                <td>
                                                    <a class=" btn btn-info" href="/update_short_course/{{ course.id }}">
                                                        <i class="side-menu__icon fe fe-edit" data-id="{{ item.id }}"></i>
                                                    </a>

                                                    <a class="btn btn-danger" data-bs-toggle="modal" onclick="deleteCourse('{{ course.id }}')">
                                                        <i class="side-menu__icon fe fe-trash text-white" onclick="deleteCourse('{{ course.id }}')"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <!-- TABLE DETAILS END -->
                                        </tbody>
                                    </table>

                                </div>
                                <div class="card-body">

                                    <ul class="pagination">
                                        <li class="page-item page-prev">
                                            {% if courses.has_previous %}
                                                <a class="page-link" href="?page=1" tabindex="-1">Prev</a>
                                            {% else %}
                                                <span class="page-link">Prev</span>
                                            {% endif %}
                                        </li>
                                        {% for page in courses.paginator.page_range %}
                                            <li class="page-item {% if page == courses.number %}active{% endif %}">
                                                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                            </li>
                                        {% endfor %}
                                        <li class="page-item page-next">
                                            {% if courses.has_next %}
                                                <a class="page-link" href="?page={{ courses.paginator.num_pages }}">Next</a>
                                            {% else %}
                                                <span class="page-link">Next</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                    <!-- pagination-wrapper -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- CONTAINER END -->
        </div>
    </div>
    <!--app-content close-->



    <div class="modal  fade" id="modaldemo5" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
            <div class="modal-content ">

                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>
                    <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                    <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                    <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                   
                </div>
                <div class="modal-footer justify-content-center">
                <button class="btn btn-success" onclick="deleteCourseFromModal(this)">Yes</button>
                    <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <!-- MESSAGE MODAL -->
    <div class="modal  fade" id="description" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
            <div class="modal-content ">

                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>

                    <h4 class="text-primary">Description</h4>
                    <p class="mg-b-20 mg-x-20" id="description-text"></p>

                </div>

            </div>
        </div>
    </div>

    <!-- Course Detail  MODAL -->
    <div class="modal  fade" id="crsdetail" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered text-center" role="document">
            <div class="modal-content ">

                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Additional Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id = "detail-amt"></td>
                                <td id = "detail-info"></td>
                                
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer justify-content-center">
               
                    <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}

